<mat-tab-group>
  <mat-tab label="Sender Names">
    <app-sender-name-list></app-sender-name-list>
  </mat-tab>
  <mat-tab label="Add New">
    <app-sender-name-new></app-sender-name-new>
  </mat-tab>
</mat-tab-group>
