<mat-tab-group>
  <mat-tab label="Buy Credit">
    <app-credits-buy></app-credits-buy>
  </mat-tab>
  <mat-tab label="Purchase History">
    <app-credits-buy-list></app-credits-buy-list>
  </mat-tab>
</mat-tab-group>
