<mat-card>
  <h3>Buy Credit Form</h3>
  <form [formGroup]="form" (submit)="onSubmitPurchase()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>No of Credits (2Php/Credit - 100 Min)</mat-label>
          <input
            type="number"
            matInput
            (input)="setTotalPrice(form.controls['amount'].value)"
            formControlName="amount"
            placeholder="No of Credits (2Php/Credit - 100 Min)"
            min="100"
            step="1"
          />
          <mat-error
            *ngIf="
              !form.controls['amount'].touched &&
              form.controls['amount'].errors?.required
            "
            >No of credit is required.</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Total Price (PHP)</mat-label>
          <input
            type="number"
            formControlName="totalPrice"
            matInput
            placeholder="Total Price"
            readonly
          />
          <mat-error
            *ngIf="
              !form.controls['totalPrice'].touched &&
              form.controls['totalPrice'].errors?.required
            "
            >Total price is required.</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Method</mat-label>
          <mat-select
            formControlName="method"
            (selectionChange)="
              setIdentifier(
                this.identifiers[this.form.controls['method'].value]?.detail ||
                  ''
              )
            "
          >
            <mat-option
              *ngFor="let payment of paymentMethods"
              [value]="payment.value"
            >
              {{ payment.label }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              !form.controls['method'].touched &&
              form.controls['method'].errors?.required
            "
            >Method is required.</mat-error
          >
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field
          appearance="outline"
          (click)="
            copyText(identifiers[form.controls['method'].value]?.detail || '')
          "
        >
          <mat-label
            >{{
              identifiers[form.controls["method"].value]?.label || "Identifier"
            }}
          </mat-label>
          <input
            matInput
            placeholder="Copy Id/number"
            readonly
            formControlName="identifier"
          />
          <mat-icon matSuffix class="copy">file_copy</mat-icon>
          <mat-error
            *ngIf="
              !form.controls['identifier'].touched &&
              form.controls['identifier'].errors?.required
            "
            >Identifier is required.</mat-error
          >
          <mat-hint>Send to this detail</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </div>
  </form>
</mat-card>
