<div class="message-header">
  <h3>Recent Messages</h3>
  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Filter"
    />
  </mat-form-field>
</div>
<div class="mat-elevation-z3">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="senderNameUsed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Sender Name
      </th>
      <td mat-cell *matCellDef="let row">{{ row.senderNameUsed }}</td>
    </ng-container>

    <ng-container matColumnDef="receiverNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile Number</th>
      <td mat-cell *matCellDef="let row">{{ row.receiverNo }}</td>
    </ng-container>

    <ng-container matColumnDef="message">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="message-cell"
      >
        Message
      </th>
      <td mat-cell *matCellDef="let row">{{ row.message }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row.status == 'Sent'" class="sent">Sent</span>
        <span *ngIf="row.status == 'Pending'" class="pending">Pending</span>
        <span *ngIf="row.status == 'Failed'" class="failed">Failed</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">
        {{ row.createdAt | date: "short" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <app-no-data-table *ngIf="!dataSource.data.length"></app-no-data-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
