:host {
  width: 100%;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.message-cell {
  width: 40rem;
}

mat-form-field {
  width: 200px !important;
}

.pending {
  color: orange;
}

.sent {
  color: green;
}

.failed {
  color: red;
}
