<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12 head">
        <span id="brand">
          <button mat-button routerLink="/">
            <img src="assets/images/logo.png" height="45px" />
            TextingBrand
          </button>
        </span>

        <span id="menu">
          <button mat-button routerLink="/login" routerLinkActive="active">
            Login
          </button>
          <button mat-button routerLink="/register" routerLinkActive="active">
            Register
          </button>
        </span>
      </div>
    </div>
  </div>
</header>
