header {
  background: #3f51b5;
}

.head {
  display: flex;
  justify-content: space-between;
  align-content: center;

  color: antiquewhite;
  height: 64px;

  #menu,
  #brand {
    display: flex;
    align-content: center;
  }
}

.active {
  background-color: lighten(#3f51b5, 10%) !important;
  color: white !important;
}
