<app-home-header></app-home-header>
<div class="login home-body">
  <mat-card class="login-card">
    <form [formGroup]="form" (submit)="submitLogin()">
      <mat-card-header>
        <mat-card-title>User Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Email address</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="Type email address"
          />
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="form.controls['email'].errors?.required"
            >Email is required.</mat-error
          >
          <mat-error *ngIf="form.controls['email'].errors?.email"
            >Invalid email format.</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            formControlName="password"
            placeholder="Type password"
          />
          <mat-icon matSuffix>vpn_key</mat-icon>
          <mat-error *ngIf="form.controls['password'].errors?.required"
            >Password is required.</mat-error
          >
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          type="submit"
          mat-raised-button
          class="submitBtn"
          color="primary"
        >
          Login
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
