$body-height: 92vh;

.login {
  display: flex;
  height: $body-height;

  .login {
    margin: auto;
  }
}

.login-card {
  width: 20rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2vh;
  margin-bottom: auto;
}

.mat-card-header {
  justify-content: center;
}

.mat-card-actions {
  text-align: center;
}

.mat-form-field {
  width: 100%;
}

.mat-raised-button {
  display: block !important;
  width: 95% !important;
  height: 50px;
  margin: auto !important;
}
