<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <img src="assets/images/logo.png" height="45px" />
      TextingBrand
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="message" routerLinkActive="active">
        <mat-icon>message</mat-icon>
        <span>Message</span>
      </a>
      <a mat-list-item routerLink="credits" routerLinkActive="active">
        <mat-icon>credit_card</mat-icon>
        <span>Credits</span>
      </a>
      <a mat-list-item routerLink="sender-name" routerLinkActive="active">
        <mat-icon>record_voice_over</mat-icon>
        <span>Sender Name</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="toolbar-content">
        <span class="left-toolbar">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="isHandset$ | async"
          >
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <label>Dashboard</label>
        </span>
        <span class="user-container" [matMenuTriggerFor]="menu">
          <h5>{{ currentUser() }}</h5>
          <button mat-icon-button aria-label="Example icon-button with a menu">
            <mat-icon class="user-icon">account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
            <button mat-menu-item (click)="onLogout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </span>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div id="child-container">
      <router-outlet id="child"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
