.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 999;
}

#child-container {
  padding: 20px;
}

mat-toolbar {
  padding: 0 18px;
  .toolbar-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // max-width: 1176px;
  }

  .user-container {
    display: flex;
    align-items: center;
    justify-content: right;

    .user-icon {
      font-size: 2.2rem;
    }

    h5 {
      font-weight: 300;
      font-size: 1.2rem;
    }

    @media (max-width: 576px) {
      h5 {
        display: none;
      }
    }
  }

  .left-toolbar {
    display: flex;
    align-items: center;

    button {
      transform: translateX(-10px);
    }
  }
}

.mat-list-item {
  mat-icon {
    margin-right: 10px;
  }
}

a.active {
  background-color: lighten(#3f51b5, 10%) !important;
  color: white !important;
}
