<mat-card>
  <h3>New Message</h3>

  <form [formGroup]="form" (submit)="onSendSMS()">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field appearance="outline">
          <mat-label>From</mat-label>
          <mat-select formControlName="senderNameId">
            <mat-option *ngFor="let sender of senderNames" [value]="sender.id">
              {{ sender.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['senderNameId'].errors?.required"
            >Sender name is required.</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>To</mat-label>
          <input
            matInput
            formControlName="to"
            placeholder="639xxxxxxxxx separated by comma for multiple numbers"
          />
          <mat-error *ngIf="form.controls['to'].errors?.required"
            >Receiver number is required.</mat-error
          >
          <mat-error
            *ngIf="
              !form.controls['to'].errors?.required &&
              form.controls['to'].touched &&
              form.controls['to'].errors?.invalidNumber
            "
            >One of the mobile number format is not correct. It should be
            (63XXXXXXXXXX).</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Message</mat-label>
          <textarea
            matInput
            formControlName="message"
            rows="5"
            placeholder="Type message (160 characters max)"
          ></textarea>
          <mat-hint *ngIf="form.controls['message'].value.length">{{
            "No of characters: " + form.controls["message"].value.length
          }}</mat-hint>
          <mat-error *ngIf="form.controls['message'].errors?.required"
            >Message is required.</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-md-12 send-sms">
        <button mat-raised-button color="primary" type="submit">
          Send Message
        </button>
        <button
          mat-raised-button
          type="button"
          class="btn-warning"
          (click)="resetForm(form)"
        >
          Clear
        </button>

        <button
          mat-raised-button
          type="button"
          (click)="insertMessageTemplate(messageTemplate.value)"
        >
          Insert Template
        </button>
        <div class="template">
          <mat-form-field>
            <mat-label>Message Template</mat-label>
            <mat-select #messageTemplate>
              <mat-option
                *ngFor="let template of messageTemplates"
                [value]="template.message"
              >
                {{ template.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</mat-card>
