<mat-tab-group>
  <mat-tab label="Compose">
    <app-message-new></app-message-new>
  </mat-tab>
  <mat-tab label="Recent Messages">
    <app-message-list></app-message-list>
  </mat-tab>
  <mat-tab label="Templates">
    <app-message-template></app-message-template>
  </mat-tab>
</mat-tab-group>
