.message-cell {
  width: 60%;
}

mat-chip {
  cursor: pointer;
}

.mat-cell,
.mat-header-cell {
  flex: 0 0 30%;
}

.template-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-icon {
  cursor: pointer;
  color: lighen(black, 20%);
  margin: 0 5px;

  &:hover {
    color: gray;
  }
}
