<div class="template-header">
  <h3>Sender Name List</h3>
  <button
    mat-raised-button
    type="button"
    color="primary"
    (click)="addNewTemplate()"
  >
    Add Template
  </button>
</div>
<mat-table [dataSource]="dataSource" class="mat-elevation-z2">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.name }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="message">
    <mat-header-cell *matHeaderCellDef class="message-cell">
      Message
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.message }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let element" width="200px">
      <mat-icon
        aria-hidden="false"
        aria-label="Edit"
        (click)="editDialog(element)"
        >edit</mat-icon
      >
      <mat-icon
        aria-hidden="false"
        aria-label="Delete"
        (click)="onDeleteMessageTemplate(element.id)"
        >delete</mat-icon
      >
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<app-no-data-table *ngIf="!dataSource?.data.length"></app-no-data-table>
