<h3>Sender Name List</h3>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Sender Name </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.name }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.status }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="paid">
    <mat-header-cell *matHeaderCellDef> Paid </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.paid }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="nextRenewal">
    <mat-header-cell *matHeaderCellDef> Next Renewal </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.nextRenewal }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.createdAt }} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<app-no-data-table *ngIf="!dataSource?.data.length"></app-no-data-table>
