<form [formGroup]="form" (submit)="onSubmitNewMessageTemplate()">
  <h1 mat-dialog-title>Add Message Template</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Template name</mat-label>
      <input
        placeholder="Type template name..."
        matInput
        formControlName="name"
      />
      <mat-error *ngIf="form.controls['name'].errors?.required"
        >Template name is required.</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <textarea
        matInput
        rows="5"
        placeholder="Type message..."
        formControlName="message"
      ></textarea>
      <mat-error *ngIf="form.controls['message'].errors?.required"
        >Message is required.</mat-error
      >
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" cdkFocusInitial type="submit">
      Submit
    </button>
    <button mat-raised-button (click)="onNoClick()" type="button">
      Cancel
    </button>
  </div>
</form>
