<mat-card background="warn" class="warning">
  An additional sender name will consume 100 credits per month. Approval may
  take some.
</mat-card>

<mat-card color="warning">
  <h3>Register New Sender Name</h3>
  <form
    [formGroup]="form"
    (submit)="onSubmitNewSenderName()"
    #formDirective="ngForm"
  >
    <div class="row">
      <div class="col-md-12">
        <mat-form-field appearance="outline">
          <mat-label>Sender Name</mat-label>
          <input
            matInput
            placeholder="max 11 alpha-numeric"
            formControlName="name"
          />
          <mat-error
            *ngIf="
              form.controls['name'].touched &&
              form.controls['name'].errors?.required
            "
            >Sender name is required.</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field appearance="outline">
          <mat-label>Sample Message</mat-label>
          <textarea
            matInput
            row="3"
            placeholder="Type sample text message"
            formControlName="sampleMessage"
          ></textarea>
          <mat-error
            *ngIf="
              form.controls['sampleMessage'].touched &&
              form.controls['sampleMessage'].errors?.required
            "
            >Sender name is required.</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </div>
  </form>
</mat-card>
