mat-form-field {
  width: 100%;
}

.warning {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(255, 152, 0, 0.4);
  background-color: #ff9e0f;
  color: #ffffff;
  margin: 20px 0;
}
