<div class="row">
  <div class="col-md-4">
    <mat-card>
      <span class="left">
        <strong>{{ totalAvailableCredits || 0 }}</strong>
        <small>Available Credits</small>
      </span>
      <button mat-raised-button color="primary" routerLink="/app/credits">
        Top Up
      </button>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <span class="left">
        <strong>{{ totalSentMessages - totalUnSentMessages || 0 }}</strong>
        <small>Total Sent Messages</small>
      </span>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <span class="left">
        <strong>{{ totalUnSentMessages || 0 }}</strong>
        <small>Unsent Messages</small>
      </span>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-message-list></app-message-list>
  </div>
</div>
