div[class^="col-"] {
  margin-bottom: 1rem;
}

mat-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  small {
    display: block;
    margin-top: 5px;
  }

  strong {
    font-size: 1.5rem;
  }
}
