/* You can add global styles to this file, and also import other style files */
@import "~ngx-toastr/toastr";

@import "~bootstrap/scss/bootstrap-grid";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  width: 100%;
}

.btn-success {
  cursor: pointer !important;
  background-color: #4caf50 !important;
  border-color: #4caf50 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14),
    0 3px 1px -2px rgba(76, 175, 80, 0.2) !important;
}

.btn-danger {
  cursor: pointer !important;
  background-color: #f44336 !important;
  border-color: #f44336 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14),
    0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12) !important;
}

.btn-warning {
  cursor: pointer !important;
  background-color: #ff9800 !important;
  border-color: #ff9800 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14),
    0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12) !important;
}

.empty-table {
  text-align: center;
  margin: 15px 0;
}

.home-body {
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url("./assets/images/home-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.cdk-overlay-pane {
  transform: translate(85px, 12px);
  cursor: pointer;
}
