<app-home-header></app-home-header>
<div class="home-body">
  <div class="container">
    <div class="slogan">
      <h1>Choose your company name for texting</h1>
      <h4>
        The edge of making your company name known when texting matters
      </h4>
      <button mat-raised-button color="primary" routerLink="register">
        Make it happen
      </button>
    </div>
    <button matb></button>
  </div>
</div>
