$body-height: 92vh;

:host {
  display: flex;
  flex-direction: column;

  .container {
    height: $body-height;
    color: white;
    display: flex;
    flex-direction: column;

    .slogan {
      margin: auto;
      text-align: center;
    }
  }
}

h4 {
  font-weight: 400;
}
