$body-height: 92vh;

.home-body {
  height: $body-height;
  display: flex;
}

.login-card {
  width: 20rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2vh;
  margin-bottom: auto;
}

.mat-card-header {
  justify-content: center;
}

.mat-card-actions {
  text-align: center;
  margin: 0;
}

.mat-form-field {
  width: 100%;
}
